{{#each this}}
  <li class='modal-container-item'>
    <div class='photo-card'>
      <img class='photo-card-img' src={{photo1}} data-source={{photo2}} alt={{role}} />

      <p class='photo-card-name'>{{name}}</p>
      <p class='photo-card-role'>{{role}}</p>
    </div>
  </li>
{{/each}}