<section class="info-backdrop">
  <div class="modal-body">
    <svg tabindex="0" class="icon-closeback" data-popup="close" data-close>
      <path fill="none" style="stroke: var(--color2, #000)" stroke-linejoin="miter" stroke-linecap="butt"
        stroke-miterlimit="4" stroke-width="2.1333" d="M8.533 8.533l14.933 14.933M8.533 23.467l14.933-14.933"></path>
    </svg>
    <img class='modal-image' src=https://image.tmdb.org/t/p/w500{{poster_path}} alt='poster of movie {{title}}' />
    <h2 class='modal-title'>{{title}}</h2>
    <ul class='modal-list-info'>
      <li class='modal-item-title'>
        Vote / Votes
        <div class='vote-container'>
          <span class='counter vote'>{{vote_average}}</span>
          /
          <span class='counter count'>{{vote_count}}</span>
        </div>
      </li>
      <li class='modal-item-title'>
        Popularity
        <span class='modal-item-text'>{{popularity}}</span>
      </li>
      <li class='modal-item-title'>
        Original Title
        <span class='modal-item-text uppercase-text'>{{original_title}}</span>
      </li>
      <li class='modal-item-title'>Genre
        <span class='modal-item-text'>{{#each genres}}
          {{this.name}}
          {{/each}}</span>
      </li>
    </ul>
    <h3 class='modal-describing-title'>About</h3>
    <p class='modal-describing-text'> {{overview}}</p>
    <div class='modal-batton-container'>
      <button class='button primary' data-id="{{id}}" data-watched>ADD TO WATCHED</button>
      <button class='button' data-id="{{id}}" data-queue>ADD TO
        QUEUE</button>
    </div>
    </div>
  </div>
</section>