<li class='card__film' data-action={{id}}>
  <div class='thumb'>
    {{#if poster_path}}
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
        width='100%'
        data-id='{{id}}'
        class='poster_img'
      />
    {{else}}
      <img src='./astro-team.7cb43d1e.png' alt='{{title}}' width='250px' data-id='{{id}}' />
    {{/if}}
  </div>
  <div>
    <h2 class='card__title'>{{title}}</h2>
    <p class='card__text'>
      <span>{{#each genres}}
          {{this.name}}
        {{/each}}</span>
      |
      <span>{{release_date}}</span>
      <span class='card__vote_average'>{{vote_average}}</span>
    </p>
  </div>
</li>