{{#each this}}
  <li class='modal-container-item'>
    <div class='photo-card'>
      <figure class='snip1104 red'>
        <img src={{photo1}}.jpg alt={{name}} {{surname}} />
        <figcaption>
          <h2>{{name}} <span> {{surname}}</span></h2>
        </figcaption>
      </figure>

      <p class='photo-card-role'>{{role}}</p>
    </div>
  </li>
{{/each}}